.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.nav-bar-ul{
  display: flex;
  list-style: none;
  float:right;
}
.nav-bar-ul li{
  padding: 0px 20px 0px 20px;
}
.nav-bar-ul li a:hover{
  color:brown;
}
.nav-bar-ul li a{
  text-decoration: none;
}
/* .active{
  color: #61dafb;
} */
.container{
  display: inline-block;
  margin: 40px 10px 10px 136px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
